@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="pageForm">
            <div class="row">
                <input type="hidden" id="moduleId" name="moduleId" value="${moduleId}">
                <div class="col-sm-12">
                    <#input id="pageName" name="页面名称" underline="true"/>
                </div>
                <div class="col-sm-12">
                    <#select id="pageType" name="页面类型" >
                        <option value="tab页面">tab页面</option>
                        <option value="表格页面">表格页面</option>
                        <option value="表单页面">表单页面</option>
                        <option value="详情页面">详情页面</option>
                     </#select>
                </div>
            </div>
        </div>

        <div class="row btn-group-m-t">
            <div class="col-sm-10">
                <#button btnCss="info" name="提交" id="ensure" icon="fa-check"
                clickFun="PageInfoDlg.addSubmit()"/>
                <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser"
                clickFun="PageInfoDlg.close()"/>
            </div>
        </div>
    </div>

</div>
</div>
<script src="${ctxPath}/static/modular/requirement/page_info.js"></script>
@}
