/target
/.settings
.classpath
.project
*.iml
# Package Files #
.settings/
target/
deploy.bat

/pom_bak.xml
/deploy_sing.bat
/build/
/bin/
.idea/
logs/sys-error.2025-12-25.log
logs/sys-error.2025-12-28.log
logs/sys-error.log
logs/sys-info.2025-12-25.log
logs/sys-info.2025-12-28.log
logs/sys-info.log
.vscode/settings.json
